.Banner {
    text-align: center;
    background-color: #04012b;
    padding: 15px;
    max-width: 100%;
    border-bottom: #686608 10px solid;
}

.Banner h3 {
    color: #fff;
    font-size: 35px
}

